<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <script src="static/logic.js"></script>
        <link href="static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Hacklytics: {% block title %}{% endblock %}</title>
        <img src="static/bg.png" class="topleft" alt="logo">
    </head>

    <body>

    {% block body %}{% endblock %}
    </body>


</html>
